.ex_list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    max-width: 70vw;
    overflow: auto;
}


.ex_list__txt {
    border: 1px solid darkslategrey;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.ex_container {
    max-height: 30vh;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    gap: 15px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color:white;
    background-color:#112d49;
}
.ex_form {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 24px;
}
.ex_form__button {
    padding: 5px;
    align-self: end;
}
.ex_form__label {
    display: flex;
    flex-direction: column;
}

.ex_inactive {
    display: none;
}
.ex_active {
    display: flex;
}
.ex_super-btn {
    padding: 10px;
    font-size: 16px;
    background-color: coral;
    border-radius: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.ex_form__button {
    height: 50px;
    cursor: pointer;
    background-color: beige;
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.ex_form__button:hover{
    background-color: rgb(244, 240, 155);
}